body {
    margin: 0;
    padding: 0;
    background-color: #8F8FCA;
    background-size: 50% 120%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
}

header {
    background-color: #8F8FCA;
    margin-bottom: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.logo-container span {
    font-size: 24px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

nav {
    
    top: 20px;
    right: 40px;
    font-size: 20px;
}

nav ul li {
    display: inline;
    font-family: 'Poppins', sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    margin: 10px 50px;
    background-color: transparent;
    border-radius: 20px 20px 20px 20px;
    padding: 20px;
}

nav ul {
	text-decoration: none;
}

nav ul li a:hover {
    background-color: #6868AE;
    color: #ffffff;  
}


#current {
    background-color: #6868AE;
    padding:20px;
    color: #ffffff;
}

#dashboard {
    position: relative;
    left: 0;
    top: 0;
    padding-top: 20px;
    background-color: #6868AE;
    border-radius: 30px;
    border: 0px solid #6868AE;
    height: 92vh;
    width: 1530px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    /*margin-left: -30px;*/
}
#dashboard2 {
    position: relative;
    left: 0;
    top: 0;
    padding-top: 20px;
    background-color: #6868AE;
    border-radius: 30px;
    border: 0px solid #6868AE;
    height: 100vh;
    width: 1530px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    /*margin-left: -30px;*/
}
.left-nav {
    position: relative;
	font-size: 25px;
    top: 10px;
    left: 0;
    width: 20%;
    height: 675px;
    padding-top: 0px;
    border-radius: 20px;
	float: left;
	/*padding: 5px 30px; */
}
.left-nav h1{
    font-size: 30px;
    margin-left: 20px;
    color:white;
    font-family: 'Poppins', sans-serif;

}
.mainpage {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    width: 1220px;
    padding: 10px;
    border-radius: 20px;
    height: 100vh;
    box-sizing: border-box;
}

.mainpage2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    width: 1220px;
    padding: 10px;
    border-radius: 20px;
    height: 80vh;
    box-sizing: border-box;
}

.left-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
    font-family: 'Poppins', sans-serif;
}

.left-nav ul li {
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}
.left-nav ul h1 {
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    text-decoration: none;
}

.left-nav ul li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    padding: 10px 30px;
    display: block;
    border-radius: 5px;
}
.left-nav ul li a:hover {
    background-color: #FFF5E0;
	color: #7C7CB6;
	border-radius: 20px;
	padding: 10px 30px; 
}
#left-nav-current{
    background-color: #FFF5E0;
	color: #7C7CB6;
	border-radius: 20px;
	padding: 10px 30px; 
}

#top-section {
    top: 0px;
    margin-left: 0px;
    padding: 10px;
    background-color: #FFF5E0;
    border-radius: 20px;
    /*width: 99%;*/
    height: 100px;
    margin-top: 0px;
}
#Applications_section {
    top: 0px; 
    margin-left: 0px; 
    padding: 10px;
    background-color: #FFF5E0;
    border-radius: 20px;
    height: 690px;
	margin-top: 0px;
}
#addPet-section {
    overflow-y: auto;
    margin-left: 0px;
    background-color: #FFF5E0;
    border-radius: 20px;
	width: 1163px;
    height: 770px;
    max-height: 80vh;
	margin-top: 0px;
}
#addPet-section textarea{
    width: 128%;
    margin-left: 45px;
}
#addPet-section label{
    margin-top: -5px;
}

.dropdown {
    display: inline-block;
	margin-right: 150px;

}

.dropbtn {
	margin-top:0px;
    background-color: transparent;
    color: white;
    padding: 5px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

.dropdown:hover .dropbtn {
    cursor: pointer;
}

#add-pet-button img {
    width: 75px;
    height: 75px;
	transition: 0.3s;
}

form {
	float:center;
    margin-left: 200px;
    max-width: 500px;
    background-color: #FFF5E0;
    padding: 20px;
    border-radius: 10px;
}

label {
	text-align:center;
    display: block;
	font-family:'Poppins', sans-serif;
	color: #6868AE;
	font-weight: bold;
    margin-left: 200px;
    margin-bottom: 8px;
}

input,
textarea {
    float: center;
    width: 800px;
    padding: 10px;
    margin-bottom: 15px;
	margin-left: -40px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}
#addPetBtn {
	text-decoration:none;
	float:center;
    margin-left: 300px;
    background-color: #6868AE;
	font-family:'Poppins', sans-serif;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
#editPetBtn {
	font-family:'Poppins', sans-serif;
	text-decoration:none;
	float:center;
    margin-left: 280px;
    background-color: #6868AE;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
    
button:hover {
    background-color: #485084;
}
/* /////////////////////// */
 #belowbelow-section {
    height: auto;
    flex: 1;
    margin: 0; /* Reset margin to remove any default margin */
    padding: 0; 
}
#below-section {
    display: flex;
    flex-direction: column;
    top: 0px;
    margin-left: 0px;
    /*padding: 10px;*/
    background-color: #FFF5E0;
    border-radius: 20px;
    /*float: left;
    width: 99%; Set to 100% for full width */
    /*max-width: 1163px; You can set a maximum width if needed */
    height: 571px;
    margin-top: 35px;
    /*margin-bottom: 10px;*/
}
#topbelow-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px; 
    padding: 20px;
    background-color: #82D1D9;
    border-radius: 20px;
    height: 40px;
	margin-top: -20px;
    margin-bottom: -20px;
}
#topbelow-section th {
    float: left;
    margin-top: 0px;
    background-color: transparent;
    color: white;
    padding: 3px;
    font-size: 20px;
    border: none;
    margin-left: 10px;
    margin-right: 90px; /* Adjust the margin as needed */
    border-radius: 10px;
}



#pet{
    background-color: gray;
}
#add-pet-button {
    background-color: #FFF5E0;
	font-weight: bold;
    color: #6868AE; 
    padding: 10px 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-top: -7px;
    float: right;
}

#trashButton {
	cursor: pointer; 
    display: inline-block;
	margin-top:0px;
    margin-left: 0px;
	background-color:transparent;
	border-radius:10px;
	border-color:transparent;
}

#add-pet-button:hover {
    background-color: #6868AE;
    color: #ffffff;
    border-radius: 20px;
}

#add-pet-button:hover img {
    content: url('../images/pet_icon2.png'); /* Correct path to the second image */
    src: url('../images/pet_icon2.png'); /* Correct path to the second image */
}

#search-bar {
    margin-top: 25px;
	width:900px;
    padding: 15px;
	margin-left:10px;
    border: 3px solid #6868AE; 
    border-radius: 10px; 
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
#search-bar-applications {
	width:500px;
	margin-top:0px;
    padding: 15px;
	padding-right: 200px;
    margin-right: 10px; 
    border: 3px solid #6868AE; 
    border-radius: 10px; 
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.pet-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
}

.pet-card img {
    max-width: 100%;
    height: auto;
}
#pets-table-top {
    display: inline-block;
	margin-right:-10px;
    margin-left: -230px;

}
#pets-table-top th {
    text-align: right;
    padding-right: 0px; /* Adjust the value as needed */
    padding-left: 30px;
    font-family: 'Poppins-light', sans-serif;
}
#archive-table-top {
    display: inline-block;
	margin-right:-10px;
    margin-left: -230px;

}
#archive-table-top th {
    text-align: right;
    padding-right: 0px; /* Adjust the value as needed */
    padding-left: 30px;
    font-family: 'Poppins-light', sans-serif;
}
#application-table-top {
    display: inline-block;
	margin-right: -250px;
    margin-left: -280px;
  
}

#application-table-top th {
    text-align: right;
    padding-right: -30px; /* Adjust the value as needed */
    padding-left: -50px;
    font-family: 'Poppins-light', sans-serif;
}
#history-table-top {
    display: inline-block;
	margin-right: -200px;
    margin-left: -180px;

}
#history-table-top th {
    text-align: right;
    padding-right: 0px; /* Adjust the value as needed */
    padding-left: 20px;
    font-family: 'Poppins-light', sans-serif;
}
#remarks-filter{
    width: 20px;
}
/* #history-table-below {
    display: inline-block;
	margin-right: -410px;
    margin-left: -350px;

}
#history-table-below th {
    text-align: right;
    padding-right: 0px; /* Adjust the value as needed */
    /* padding-left: 10px;
} */ 
thead th {
    float: left;
    margin-top: 0px;
    background-color: transparent;
    color: white;
    padding: 3px;
    font-size: 20px;
    border: none;
    margin-right: 100px;
    margin-left: 0px;
    border-radius: 10px;
}
#settings_section {
    margin-left: 0px;
    background-color: #FFF5E0;
    border-radius: 20px;
	float: left;
	width: 1163px;
    height: 770px;;
	margin-top: 0px;   
}
#photo-upload {
    display: none; /* Hide the default file input */
}

.upload-button {

    display: inline-block;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

#settings_section {
    text-align: left;
}

#settings_section img,
#settings_section h2 {
    font-family: 'Poppins', sans-serif;
    color: #6868AE;
    margin-left:60px;
    margin-bottom: 40px;
}
#settings_section label {
	/* text-align:left;
    display: block;
	font-family:'Intel', sans-serif;
	color: #6868AE;
	font-weight: bold;
    margin-left: 60px; */
    margin-top: 20PX;
    margin-bottom: 8px;
}

#settings_section input,
#settings_section textarea {
    float: center;
    width: 600px;
    padding: 10px;
    margin-bottom: 15px;
	margin-left: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.edit-button {
    
    display: inline-block;
    padding: 10px 20px;
    background-color: #6868AE;
    color: white;
    font-family:'Poppins', sans-serif;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 60px;
}
.go-to-profile-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6868AE;
    color: white;
    font-family:'Poppins', sans-serif;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 60px;
}


#change-password_section {
    top: 0px; 
    margin-left: 0px;
    background-color: #FFF5E0;
    border-radius: 20px;
	float: left;
	width: 1163px;
    height: 770px;;
	margin-top: 0px;   
}

#change-password_section {
    text-align: left;
}

#change-password_section h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #6868AE;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
}
#change-password_section label {
	text-align:center;
    display: block;
	font-family:'Poppins', sans-serif;
	color: #6868AE;
	font-weight: bold;
    margin-left: 250px;    
    margin-top: 20PX;
    margin-bottom: 8px;
}

#change-password_section input,
#change-password_section textarea {
    float: center;
    width: 400px;
    height:45px;
    padding: 10px;
    margin-bottom: 15px;
	margin-left: 170px;
    border: 1px solid #D9D9D9;
    background-color: #F3F1F1;
    border-radius: 20px;
    box-sizing: border-box;
}

#change-pass-btn {
    display: inline-block;
    padding: 15px 20px;
    background-color: #6868AE;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 285px;
    font-weight: bold;
    font-family:'Poppins', sans-serif;
    border-color: transparent;
}
.colored-row {
    background-color: #D9D9D9;
    color: #42428D;
    text-transform: uppercase;
    text-decoration: none !important;
    font-weight: thin;
    margin: 5px;
    padding:10px;
    border-color: white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.colored-row td {
    text-decoration: none;
}

#pets-table {
    margin-top: 140px;; /* 1px solid black represents border style, thickness, and color */
    border-collapse: collapse; /* Collapses table borders into a single border */
}
#pets-table thead tr {
    display: flex;
    flex-direction: row;
}
#belowbelow-section {
    overflow-y: auto;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5px;
    /*margin-left: -20px; */
    padding: 10px;
    border-radius: 20px;
	margin-top:20px;
    margin-right: 0px;
    float:left;
}
#belowbelow-section th {
    float: left;
    margin-top: 0px;
    background-color: transparent;
    color: white;
    padding: 3px;
    font-size: 20px;
    border: none;
    margin-right: 20px; /* Adjust the margin as needed */
    border-radius: 10px;
    
}


#pets-table td {
    border: 1px solid black; /* Apply border to table cells in the body */
    padding: 10px;
}
#pets-table-below {
    table-layout: fixed;
    width: 100%; /* Adjust as needed */
    margin-top: 20px;
    border-radius:30px;
}
#pets-table-below td {
    padding: 8px;
}
#archive-table-below {
    table-layout: fixed;
    width: 100%; 
    margin-top: 20px;
    border-radius:30px;
}
#archive-table-below td {
    padding: 8px;
}
#application-table-below {
    /* table-layout: fixed; */
    width: 100%; /* Adjust as needed */
    margin-top: 20px;
    /* border-radius:30px; */
}
#application-table-below td {
    padding: px;
}
#history-table-below {
    table-layout: fixed;
    width: 100%; /* Adjust as needed */
    margin-top: 20px;
    border-radius:30px;
}
#history-table-below td {
    padding: 8px;
}
#table-body-below td:nth-child(6) {
   
    border-radius: 0px; 
    margin-left: 500px;
    padding-top: 20px;
}
#table-body-below td:nth-child(2) {
   
    border-radius: 0px; 
    margin-left: 100px;
    padding-top: 20px;
}
#table-body-below td:nth-child(5) {
   
    border-radius: 0px; 
    margin-left: 100px;
    padding-top: 20px;
}
#table-body-below td:nth-child(1) {
   
    border-radius: 0px; 
    margin-left: -20px;
    padding-top: 20px;
}
/* #table-body-below td:nth-child(3) {
    border-radius: 0px; 
    margin-left: 80px;
    padding-top: 20px;
} */

/* #table-body-below td:nth-child(5) {
    /* display: flex; */
    /* border-radius: 0px; 
    margin-left: 100px;
    padding-top: 20px;
} */ 

#table-body-below {
    display: block;
    /* max-height: 100%;  */
    /* overflow-y: auto; */
}

#table-body-below tr {
    display: flex;
    border-radius:0px; 
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
}

#table-body-below td {
    /* flex: 1; */
    margin-left: 50px;
    width:20%; 
    padding: 20px; /* Adjust padding as needed */
    border: 0px solid black; /* Apply border to table cells in the body */
}
#pets-table-below img {
    width: 30px; /* Replace with your desired width */
    height: 30px; 
    cursor: pointer;/* Replace with your desired height */
}
#archive-table-below img {
    width: 30px; /* Replace with your desired width */
    height: 30px; 
    cursor: pointer;/* Replace with your desired height */
}
#pets-table-below td:nth-child(6){
    margin-left:0px;
    margin-right:-50px;
}

#application-table-top th:nth-child(4){
   margin-left: 30px;
    
}

#application-table-top th:nth-child(5){
    margin-left: 30px;
    
}

#pets-table-below td:nth-child(7){
    margin-left:0px;
    margin-right: 0px   ;
}
#archive-table-below td:nth-child(6){
    margin-left:0px;
    margin-right:-50px;
}

#archive-table-below td:nth-child(7){
    margin-left:0px;
    margin-right: 0px   ;
}
#editPetDetails_section {
    top: 0px; 
    margin-left: 0px; 
    padding: 10px;
    background-color: #FFF5E0;
    border-radius: 20px;
    height: 690px;
	margin-top: 0px;
}

#image-profile img{
    display: flex;
    align-items: center;
    margin-left: 500px;
    margin-top: 20px;
    width: 160px;
    margin-bottom: 0px;
    height: 160px;
    border: 3px solid #D9D9D9;

}
.editimage-profile img{
    margin-left:200px;
    margin-top: 0px;
    width: 160px;
    height: 160px;
    border: 3px solid #D9D9D9;
}
#edit-profile-form img{
        margin-left: 280px;
}
/* #edit-profile-form label{
    margin-left: 0px;
    margin-top: 200px;
} */
#image-profile label{
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    display:block;
    width:150px;
    background-color: white;
    border: 3px solid #6868AE;
    padding: 10px;
    color: #6868AE;
    border-radius: 5px;
    cursor: pointer;
}

#save-profile-btn{
    margin-top: 0px;
    margin-bottom: 20px;
    display:block;
    width:150px;
    background-color: #6868AE;
    padding: 10px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    margin-left:520px;
    border: 3px solid transparent;
    cursor: pointer;
}
#edit-profile-btn{
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    display:block;
    width:150px;
    background-color: #6868AE;
    padding: 10px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    margin-left:520px;
    border: 3px solid transparent;
    cursor: pointer;
}
#prof label{
    margin-left: 20px;
    color: #6868AE;
    text-align: center;
}
#prof input{
    margin-left:275px;
    border: 3px solid transparent;
    border-radius: 20px;
    background-color: #D9D9D9;
}
#editprof{
    margin-top: -50px;
}
#editProf input{
    margin-left:50px;
    border: 3px solid #D9D9D9;
    border-radius: 20px;
    background-color: #D9D9D9;
}

#editProf label{
    margin-bottom: 10px;
    margin-left: 250px;
    color: #6868AE;
    text-align: center;
}
#settings-section {
    overflow-y: auto;
    margin-left: 0px;
    background-color: #FFF5E0;
    border-radius: 20px;
	width: 1163px;
    height: 970px;
    max-height: 100vh;
	margin-top: 0px;
}
#setting-section {
    overflow-y: auto;
    margin-left: 0px;
    background-color: #FFF5E0;
    border-radius: 20px;
	width: 1163px;
    height: 970px;
    max-height: 100vh;
	margin-top: 0px;
}
#application-details{
    height:1150px;
    width: 90%;
}


#appdet h2{
    font-family: 'Poppins', sans-serif;
}
#adopterdet h2{
    font-family: 'Poppins', sans-serif;
}
#applicationdet h2{
    font-family: 'Poppins', sans-serif;
}
#appdet{  
    margin-top: -90px;
    margin-left: -200px;
    margin-right: 500px;

    /* border: 2px solid black; */
}
#pendingsdet{
    margin-top:-90px;
    height: 1150px;
}
#pendingsdet h2{
    margin-right: 90px;
}
#pendingsdet input{
    text-align: center;
}
#pets-profile img{
    width:120px;
    height:120px;
    margin-left:520px;
}
/* #appdet h2{
    margin-left: 500px;
} */
#applicationdet h2{
    margin-right: 80px;
}
#appdet input[type="text"],
#appdet input[type="date"],
#appdet input[type="number"] {
    background-color: white;
    border: 1px color lightgray;
    width: 200px; 
    text-align: center;
    margin-top: 0px;/* Adjust the width as per your requirement */
}
#applicationdet input[type="text"],
#applicationdet input[type="date"],
#applicationdet input[type="number"] {
    background-color: white;
    border: 1px color lightgray;
    width: 200px; 
    text-align: center;
    margin-top: 0px;/* Adjust the width as per your requirement */
}
#applicationdet textarea{
    background-color: white;
    border: 1px color lightgray !important;
    width: 200px; 
    text-align: center;
    margin-top: 0px;
}
#applicationdet textarea {
    background-color: white !important;
}
#reason textarea,
#shelterFeedback textarea{
    background-color: white !important;
}
#applicationleft textarea,
#applicationright textarea{
    background-color: white !important;
    width: 400px !important;
}
#applicationleft label,
#applicationright label{
    margin-right:500px;
}
#applicationright label{
    margin-left:300px !important;
}
#applicationright{
    margin-left:380px;
    margin-top: -300px;
}
#applicationleft{
    margin-left:-150px;
    
}
#appdet label{
    margin-right: 200px;
    margin-bottom: 0px;
}
#adopterdet label{
    margin-right: 200px;
    margin-bottom: 0px;
}
#adopterdet{  
    margin-left: 330px;
    margin-top: -565px;
    /* margin-right: 500px;
    border: 2px solid black; */
}
/* #appdet h2{
    margin-left: 500px;
} */

#adopterdet input[type="text"], 
#adopterdet input[type="date"],
#adopterdet input[type="number"] {
    background-color: white;
    border: 1px color lightgray;
    width: 200px; 
    text-align: center;
    margin-top: 0px; /* Adjust the width as per your requirement */
}
#historydet{  
    margin-top: -90px;
}
#historydet input{
    text-align: center;
}
#application-details h2{
    margin-top:50px;
    text-align: center;
    color:#6868AE;
    margin-left:130px;
}
#application-details label{
    margin-left: 20px;
    margin-top: 30px;
}
#application-details input{
    background-color: #D9D9D9;
    margin-left: 280px;
    width:600px;
    /* text-align: center; */
}
#approveButton,
#disapproveButton,
#confirmButton,
#cancelButton{
    background-color: #6868AE;
    color:white;
    padding:20px 30px;
    margin-right: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 15px;
}
#approveButton,
#disapproveButton{
    padding:20px 60px;
}
.gender-container {
    display: inline-block;
}

.gender-container label {
    display: inline-block;
    margin-right: 10px; /* Adjust the margin as needed */
}
.responsebtn{
    margin-top: 0px;
    margin-left: 360px;
}
.confirmbtn{
    margin-top: 50px;
    margin-left: 360px;
}
#application-details textarea {
    float: center;
    width: 600px;
    padding: 10px;
    margin-bottom: 15px;
	margin-left: 280px;
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    box-sizing: border-box;
}
#change-profile-pic-btn{
    margin-left: 500px;
    padding: 10px;
    font-weight: bold;
    color:white;
    background-color: #6868AE;
    font-family:'Poppins', sans-serif;
}
#backbtn{
    margin-top: 10px;
    margin-left: 20px;
    padding: 5px;
    font-weight: bold;
    color:white;
    background-color: transparent;
    border: none;
    font-family:'Poppins', sans-serif;
}
#pet-profile img{
    width:180px;
    height:150px;
    margin-left:10px;
    margin-bottom:10px;
}

#petright{
    margin-left: 280px;
    margin-top: -506px;
}
#petright label{
    text-align: left;
    margin-left: 300px;
    margin-right: -100px;
}
#petleft label{
    text-align: left;
    margin-left: 300px;
    margin-right: -100px;
}
#adopterleft label{
    text-align: left;
    margin-left: 300px;
    margin-right: -100px;
}
#adopterright{
    margin-left: 280px;
    margin-top: -506px;
}
#adopterright label{
    text-align: left;
    margin-left: 300px;
    margin-right: -100px;
}

#addpet-profile img{
    width:150px;
    height:150px;
    margin-top: 50px;
    margin-left:280px;
    border: 3px solid #6868AE;
}
#pet-profile {
    margin-left: 285px;
   
}
#pet-profile button{
    margin-left: 10px;
}
#change-petpic-btn{
    background-color: #6868AE;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 300px;
}
#editPetDetails_section{
    overflow-y: auto;
    max-height: 80vh;
}
#editPetDetails_section input,
#editPetDetails_section textarea{
    text-align:center;
}
#editPetForm{
    margin-top: -60px;
    font-family: 'Poppins', sans-serif;
    background-color: #FFF5E0;
    font-weight: thin;
}
#editPetForm textarea{
    width: 640px;
    margin-left: 40px;
    text-align: left;
}
.description label{
    margin-left: -328px !important;
}

#editPetDescription label{
    margin-top:50px;
    display:block;
    margin-right:300px;
}
#pendingdetails{
    height: 100%;
}
#left{
    margin-right: 250px;
    margin-left: 80px;
    margin-top:50px;
}
#left input[type="text"], 
#left input[type="date"],
#left input[type="number"] {
    background-color: white;
    border: 1px color lightgray;
    width: 300px; 
    text-align: center;
    margin-top: 0px; /* Adjust the width as per your requirement */
}
#left label{
    margin-left: -20px !important;
    text-align:left;
}
#right{
    margin-right: -400px;
    margin-left: 420px;
    margin-top: -315px;
}
#right{
    margin-right: -400px;
    margin-left: 420px;
    margin-top: -315px;
}
#right input[type="text"], 
#right input[type="date"],
#right input[type="number"] {
    background-color: white;
    border: 1px color lightgray;
    width: 300px; 
    text-align: center;
    margin-top: 0px; /* Adjust the width as per your requirement */
}
#right select,
#right option{
    background-color: white;
    border: 1px color lightgray;
    border-color: lightgray;
    width: 300px; 
    text-align: center;
    margin-top: 0px; 
    padding: 10px;
    margin-left:-38px;
    border-radius: 15px;
    margin-bottom: 10px;
}
#right label{
    margin-left: -20px !important;
    text-align:left;
}
/* //////////////////////// */
#rightrr{
    margin-right: -400px;
    margin-left: 820px;
    /* margin-top: -500px; */
    /* margin-bottom: -500px; */
}
#rightrr{
    margin-right: -400px;
    margin-left: 420px;
    margin-top: -300px;
}
#rightrr input[type="text"], 
#rightrr input[type="date"],
#rightrr input[type="number"] {
    background-color: white;
    border: 1px color lightgray;
    width: 300px; 
    text-align: center;
    margin-top: 0px; /* Adjust the width as per your requirement */
}
#rightrr select,
#rightrr option{
    background-color: white;
    border: 1px color lightgray;
    border-color: lightgray;
    width: 300px; 
    text-align: center;
    margin-top: 0px; 
    padding: 10px;
    margin-left:-38px;
    border-radius: 15px;
    margin-bottom: 10px;
}
#rightrr label{
    margin-left: -20px !important;
    text-align:left;
    
}

#leftsetting{
    margin-right: 200px;
    margin-left: 0px;
}
#leftsetting input[type="text"], 
#leftsetting input[type="date"],
#leftsetting input[type="number"] {
    margin-right: 100px;
    border: 2px solid #D9D9D9;
    background-color: #F3F1F1;
    width: 300px; 
    text-align: center;
    margin-top: 0px; /* Adjust the width as per your requirement */
}
#leftsetting label{
    margin-left: 300px !important;
    text-align:left;
}
#rightsetting{
    /* margin-right: -500px; */
    margin-left: 350px;
    margin-top: -302px;
}
#rightsetting input[type="text"], 
#rightsetting input[type="date"],
#rightsetting input[type="number"] {
    border: 2px solid #D9D9D9;
    background-color: #F3F1F1;
    width: 300px; 
    text-align: center;
    margin-top: 0px; 
}
#adopterdet{
    margin-top:-520px;
}
#adopterright input[type="text"], 
#adopterright input[type="date"],
#adopterright input[type="number"] {
    margin-bottom: -20px;
}
#adopterright{
    margin-top:-380px;
}
#adopterleft img{
    width: 130px !important;
    height: 130px !important;
    margin-bottom: -30px;
}
#adopterleft input[type="text"], 
#adopterleft input[type="date"],
#adopterleft input[type="number"] {
    margin-top: 10px;
    margin-bottom: -20px;
}
#petright input[type="text"], 
#petright input[type="date"],
#petright input[type="number"] {
    margin-bottom: -20px;
    margin-top: 10px;
}
#adopterright input[type="text"], 
#adopterright input[type="date"],
#adopterright input[type="number"] {
    margin-bottom: -20px;
    margin-top: 10px;
}
#petright{
    margin-top:-425px !important;
}
#petleft img{
    width: 150px;
    height: 150px;
    margin-bottom: -30px;
}
#petleft input[type="text"], 
#petleft input[type="date"],
#petleft input[type="number"] {
    margin-bottom: -20px;
    margin-top: 10px;
    margin-left: 330px;
}
#petleft label{
    margin-left: 350px;
    font-family: 'Poppins', sans-serif, thin;
} 
/* #adopterleft label{
    margin-left: 330px;
    font-family: 'Poppins', sans-serif, thin;
}  */
#adopterleft label{
    /* margin-top:0px; */
}
#petleft img{
    margin-left: 60px;
    margin-bottom: 5px;
    width: 130px;
    height: 130px;
}
/* #petleft label{
    font-weight: -20px !important;
} */
#adopterdet img{
    margin-bottom: 10px;
}
#adopterright{
    margin-left:230px;
    margin-top:-430px;
}
#appdet{
    margin-top:-40px;
}
#appdet h2{
    margin-bottom: 40px;
    margin-left: 300px;
}
#adopterdet h2{
    margin-bottom: 40px;
    margin-left: 300px;
}
#rightsetting label{
    margin-left: 300px !important;
    text-align:left;
}
#prof textarea{
    margin-left: 280px;
    border: 2px solid #D9D9D9 !important;
    background-color: #F3F1F1;
    border-radius: 20px;
    border: none;
    width: 645px;
}
#applicationdet label{
    text-align: left;
    margin-left:300px;
}
#applicationdet input[type="text"],
#applicationdet textarea{
    text-align: left;
}
#applicationdet{
    margin-top: 100px;
    margin-bottom:50px;
}
#appdet label,
#adopterdet label,
#applicationdet label{
    font-style: thin;
    font-weight: lighter;
}
/* #editPetDescription label{
    margin-top:30px;
    margin-left: -200px;
} */
.description label{
    margin-left: -265px !important;

}


.description{
    margin-top: 50px !important ; 

}