body {
    margin: 0;
    padding: 0;
    background-color: #8F8FCA;
    background-size: 50% 120%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
}

header {
    background-color: #8F8FCA;
    margin-bottom: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.logo-container span {
    font-size: 24px;
    color: #FFFFFF;
    font-family: 'Intel', sans-serif;
    font-weight: 600;
}

nav {
    
    top: 20px;
    right: 40px;
    font-size: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    margin: 10px 50px;
    background-color: transparent;
    border-radius: 20px 20px 20px 20px;
}

nav ul {
	text-decoration: none;
}

nav ul li a:hover {
    background-color: #6868AE;
    padding:20px;
    color: #ffffff;	
}


#current {
    background-color: #6868AE;
    padding:20px;
    color: #ffffff;
}

#dashboard {
    position: relative;
    left: 0;
    top: 0;
    padding-top: 20px;
    background-color: #6868AE;
    border-radius: 30px;
    border: 0px solid #6868AE;
    height: 92vh;
    width: 1530px;;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    /*margin-left: -30px;*/
}
#dashboard2 {
    position: relative;
    left: 0;
    top: 0;
    padding-top: 20px;
    background-color: #6868AE;
    border-radius: 30px;
    border: 0px solid #6868AE;
    height: 120vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    /*margin-left: -30px;*/
}
.left-nav {
    position: relative;
	font-size: 25px;
    top: 10px;
    left: 0;
    width: 20%;
    height: 675px;
    padding-top: 0px;
    border-radius: 20px;
	float: left;
	/*padding: 5px 30px; */
}

.mainpage {
    width: 1530;
    padding: 10px;

    border-radius: 20px;
    float: right;
    height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
}

.left-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.left-nav ul li {
    margin-bottom: 10px;
}

.left-nav ul li a {
    text-decoration: none;
    padding: 10px 30px;
    display: block;
    border-radius: 5px;
}
.left-nav ul li a:hover {
    background-color: #FCEEE2;
	color: #7C7CB6;
	border-radius: 20px;
	padding: 10px 30px; 
}
#left-nav-current{
    background-color: #FCEEE2;
	color: #7C7CB6;
	border-radius: 20px;
	padding: 10px 30px; 
}

#top-section {
    top: 0px;
    margin-left: 0px;
    padding: 10px;
    background-color: #FCEEE2;
    border-radius: 20px;
    /*width: 99%;*/
    height: 100px;
    margin-top: 0px;
}
#Applications_section {
    top: 0px; 
    margin-left: 0px; 
    padding: 10px;
    background-color: #FCEEE2;
    border-radius: 20px;
    height: 690px;
	margin-top: 0px;
}
#addPet-section {
    top: 0px; 
    margin-left: 0px;
    background-color: #FCEEE2;
    border-radius: 20px;
	float: left;
	width: 1163px;
    height: 770px;;
	margin-top: 0px;
}

.dropdown {
    display: inline-block;
	margin-right: 150px;

}

.dropbtn {
	margin-top:0px;
    background-color: transparent;
    color: white;
    padding: 5px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

.dropdown:hover .dropbtn {
    cursor: pointer;
}

#add-pet-button img {
    width: 75px;
    height: 75px;
	transition: 0.3s;
}

form {
	float:center;
    margin-left: 200px;
    max-width: 500px;
    background-color: #FCEEE2;
    padding: 20px;
    border-radius: 10px;
}

label {
	text-align:center;
    display: block;
	font-family:'Poppins', sans-serif;
	color: #6868AE;
	font-weight: bold;
    margin-left: 200px;
    margin-bottom: 8px;
}

input,
textarea {
    float: center;
    width: 800px;
    padding: 10px;
    margin-bottom: 15px;
	margin-left: -40px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}
#addPetBtn {
	text-decoration:none;
	float:center;
    margin-left: 300px;
    background-color: #6868AE;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #485084;
}
/* /////////////////////// */
 #belowbelow-section {
    height: auto;
    flex: 1;
    margin: 0; /* Reset margin to remove any default margin */
    padding: 0; 
}
#below-section {
    display: flex;
    flex-direction: column;
    top: 0px;
    margin-left: 0px;
    /*padding: 10px;*/
    background-color: #FCEEE2;
    border-radius: 20px;
    /*float: left;
    width: 99%; Set to 100% for full width */
    /*max-width: 1163px; You can set a maximum width if needed */
    height: 571px;
    margin-top: 35px;
    /*margin-bottom: 10px;*/
}
#topbelow-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px; 
    padding: 20px;
    background-color: #82D1D9;
    border-radius: 20px;
    height: 40px;
	margin-top: -20px;
    margin-bottom: -20px;
}
#topbelow-section th {
    float: left;
    margin-top: 0px;
    background-color: transparent;
    color: white;
    padding: 3px;
    font-size: 20px;
    border: none;
    margin-left: 10px;
    margin-right: 90px; /* Adjust the margin as needed */
    border-radius: 10px;
}



#pet{
    background-color: gray;
}
#add-pet-button {
    background-color: #FCEEE2;
	font-weight: bold;
    color: #6868AE; 
    padding: 10px 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-top: -7px;
    float: right;
}
#trashButton {
	cursor: pointer; 
    display: inline-block;
	margin-top:0px;
    margin-left: 0px;
	background-color:transparent;
	border-radius:10px;
	border-color:transparent;
}

#add-pet-button:hover {
    background-color: #6868AE;
    color: #ffffff;
    border-radius: 20px;
}

#add-pet-button:hover img {
    content: url('../images/pet_icon2.png'); /* Correct path to the second image */
    src: url('../images/pet_icon2.png'); /* Correct path to the second image */
}

#search-bar {
    margin-top: 25px;
	width:900px;
    padding: 15px;
	margin-left:10px;
    border: 3px solid #6868AE; 
    border-radius: 10px; 
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
#search-bar-applications {
	width:500px;
	margin-top:0px;
    padding: 15px;
	padding-right: 200px;
    margin-right: 10px; 
    border: 3px solid #6868AE; 
    border-radius: 10px; 
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.pet-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
}

.pet-card img {
    max-width: 100%;
    height: auto;
}
#pets-table-top {
    display: inline-block;
	margin-right: -50px;
    margin-left: -235px;;

}
#pets-table-top th {
    text-align: right;
    padding-right: 20px; /* Adjust the value as needed */
    padding-left: 20px;
}
thead th {
    float: left;
    margin-top: 0px;
    background-color: transparent;
    color: white;
    padding: 3px;
    font-size: 20px;
    border: none;
    margin-right: 100px;
    margin-left: 0px;
    border-radius: 10px;
}
#settings_section {
    top: 0px; 
    margin-left: 0px;
    background-color: #FCEEE2;
    border-radius: 20px;
	float: left;
	width: 1163px;
    height: 770px;;
	margin-top: 0px;   
}
#photo-upload {
    display: none; /* Hide the default file input */
}

.upload-button {

    display: inline-block;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

#settings_section {
    text-align: left;
}

#settings_section img,
#settings_section h2 {
    font-family: 'Intel', sans-serif;
    color: #6868AE;
    margin-left:60px;
    margin-bottom: 40px;
}
#settings_section label {
	text-align:left;
    display: block;
	font-family:'Intel', sans-serif;
	color: #6868AE;
	font-weight: bold;
    margin-left: 60px;
    margin-top: 20PX;
    margin-bottom: 8px;
}

#settings_section input,
#settings_section textarea {
    float: center;
    width: 600px;
    padding: 10px;
    margin-bottom: 15px;
	margin-left: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.edit-button {
    
    display: inline-block;
    padding: 10px 20px;
    background-color: #6868AE;
    color: white;
    font-family:'Intel', sans-serif;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 60px;
}
.go-to-profile-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6868AE;
    color: white;
    font-family:'Intel', sans-serif;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 60px;
}


#change-password_section {
    top: 0px; 
    margin-left: 0px;
    background-color: #FCEEE2;
    border-radius: 20px;
	float: left;
	width: 1163px;
    height: 770px;;
	margin-top: 0px;   
}

#change-password_section {
    text-align: left;
}

#change-password_section h2 {
    font-family: 'Intel', sans-serif;
    color: #6868AE;
    margin-left: 60px;
    margin-bottom: 40px;
}
#change-password_section label {
	text-align:left;
    display: block;
	font-family:'Intel', sans-serif;
	color: #6868AE;
	font-weight: bold;
    margin-left: -160px;    
    margin-top: 20PX;
    margin-bottom: 8px;
}

#change-password_section input,
#change-password_section textarea {
    float: center;
    width: 600px;
    padding: 10px;
    margin-bottom: 15px;
	margin-left: -160px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#change-pass-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6868AE;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: -160px;
    font-family:'Intel', sans-serif;
    border-color: transparent;
}
.colored-row {
    background-color: #D9D9D9;
    color: #42428D;
    text-transform: uppercase;
    font-weight: thin;
    margin: 5px;
    border-color: white;
}

#pets-table {
    margin-top: 140px;; /* 1px solid black represents border style, thickness, and color */
    border-collapse: collapse; /* Collapses table borders into a single border */
}
#pets-table thead tr {
    display: flex;
    flex-direction: row;
}
#belowbelow-section {
    overflow-y: auto;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5px;
    /*margin-left: -20px; */
    padding: 10px;
    border-radius: 20px;
	margin-top:20px;
    margin-right: 0px;
    float:left;
}
#belowbelow-section th {
    float: left;
    margin-top: 0px;
    background-color: transparent;
    color: white;
    padding: 3px;
    font-size: 20px;
    border: none;
    margin-right: 20px; /* Adjust the margin as needed */
    border-radius: 10px;
    
}


#pets-table td {
    border: 1px solid black; /* Apply border to table cells in the body */
    padding: 10px;
}
#pets-table-below {
    table-layout: fixed;
    width: 100%; /* Adjust as needed */
    margin-top: 20px;
    border-radius:30px;
}
#pets-table-below td {
    padding: 8px;
}
#table-body-below {
    display: block;
    /* max-height: 100%;  */
    overflow-y: auto;
}

#table-body-below tr {
    display: flex;
    border-radius:20px; 
    padding-top: 0px;
}

#table-body-below td {
    flex: 1;
    width: 20%; /* Set a fixed width for each td, adjust as needed */
    padding: 20px; /* Adjust padding as needed */
    border: 0px solid black; /* Apply border to table cells in the body */
}
#pets-table-below img {
    width: 30px; /* Replace with your desired width */
    height: 30px; 
    cursor: pointer;/* Replace with your desired height */
}
